{% extends "base.html" %}


{% block head %}
	<script>
	UPLOADCARE_TABS = 'all';
	UPLOADCARE_PUBLIC_KEY = 'demopublickey';
	</script>
	{{ form.media }}
{% endblock %}


{% block body %}
<div class="container">
		<form action="." method="post" id="upload-form" class="center">
			{% csrf_token %}
			<p>Please, select an image:</p>
			<p>{{ form.image }}</p>
		</form>
		{{ form.errors }}

		
			<h2 class="mt-3 mb-3 text-center">Uploaded Images</h2>
		  
			<div class="row">
			  {% for image in object_list %}
				<div class="col-md-3 mb-3">
				  <div class="card">
					<img class="card-img-top" src="{{ image.image.cdn_url }}-/resize/200x/" alt="{{ image.slug }}">
					<div class="card-body">
					  <h5 class="card-title">{{ image.slug }}</h5>
					  
					  <a href="{{ image.get_absolute_url }}" class="btn btn-primary">View</a>
					</div>
				  </div>
				</div>
			  {% empty %}
				<div class="col text-center">
				  <p>No images uploaded yet.</p>
				</div>
			  {% endfor %}
		  </div>
		  

		<script>
		(function() {
			uploadcare.start();

			var widget = uploadcare.Widget('#id_image');
			var onChange = function(file) {
				if (file) {
					var form = document.getElementById('upload-form');
					form.submit();
					form.style.display = 'none';
				}
			}
			if (widget.value()) {
				// If widget already has value, catch only next value.
				widget.value().done(function() {
					widget.onChange(onChange);
				});
			} else {
				// widget.openDialog();
				widget.onChange(onChange);
			}
		})();
		</script>
	</div>
{% endblock %}
