{% extends "base.html" %}

{% block body %}
  <div class="container my-4">
    <h1>Rules</h1>
    <p>Правила використання хостингу:</p>
    <ul>
      <li>Заборонено завантажувати та використовувати зображення, що порушують законодавство України та міжнародне право.</li>
      <li>Заборонено завантажувати зображення, які порушують авторські права або права інших осіб на використання зображення.</li>
      <li>Заборонено використовувати хостинг для розповсюдження шкідливого або образливого контенту.</li>
    </ul>
  </div>
{% endblock %}
